.callsign,
.freq ,
.statusline,
.zulu {
    font-family: monospace;
}

.youneed,
.theyneed,
.sked_status,
.zulu {
    font-size: small;
}

.callsign {
    text-align: center;
    color: blue;
}

.zulu {
    color: blueviolet;
    font-weight: lighter;
}

.youneed {
    color: green;
    font-weight: lighter;
}

.theyneed {
    color: darkorange;
}

.freq {
    font-style: italic;
    color: maroon;
}

.spotter {
    font-weight: lighter;
    font-size: x-small;
}

.skcc_info {
    color: blue;
    font-style: normal;
}

.sked_status {
    color: maroon;
}

.utc {
    color: blueviolet;
}

.highlight {
    background-color: yellow;
}

.newhighlight {
    background-color: aqua;
}


