<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SKCC Web Skimmer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script
        src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
        crossorigin="anonymous"></script>     
    <link href="{{ url_for('static', filename='/font-awesome-4.7.0/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
    <script>
        function onClearClick() {
                var xhr = new XMLHttpRequest();
                xhr.open("get", '{{ url_for('clear_spots') }}', true);
                xhr.send();
                xhr.onload = function () {
                    console.log("cleared");
                }
            }

    </script>
    
</head>

<body class="bg-light">
    <nav class="navbar sticky-top navbar-light bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">SKCC Skimmer - Webapp</a>
            <div id="time" class="navbar-text utc-timer">UTC:</div>
    </nav>
    <main class="flex-shrink-0">
        <div class="container bg-light">
    
            <div class="container bg-light py-1">
                <h2 class="text-center">Status Info
                    <button class="btn btn-secondary m-3" data-bs-toggle="collapse" href="#statusCollapse"
                        aria-expanded="true" aria-controls="statusCollapse">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-secondary">
                        <i class="fa fa-refresh" aria-hidden="true" title="Restart"  onclick="onRestartClick()"></i>
                    </button>
                </h2>
                <div class="collapse" id="statusCollapse">
                    <div id="status" class="container-lg border py-3" >Testing</div>
                </div>
            </div>

            <div class="row">
                <div class="col-md bg-light">
                    <h2 class="text-center"><a href="https://sked.skccgroup.com" target="_blank">SKEDS</a>
                        <button class="btn btn-secondary m-3" data-bs-toggle="collapse" href="#skedCollapse"
                            aria-expanded="true" aria-controls="skedCollapse">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </button>
                    </h2>
                    <div class="collapse show" id="skedCollapse">
                        <div id="skeds" class="container-lg border py-3" style="min-height: 500px;"></div>
                    </div>
                </div>
    
                <div class="col-md bg-light">
                    <h2 class="text-center">RBN Spots
                        <button class="btn btn-primary my-3" onclick="onClearClick()">
                            <i class="fa fa-trash" data-bs-toggle="tooltip" data-bs-placement="top" title="Clear Spots"></i>
                        </button>
                        <button class="btn btn-secondary my-3" data-bs-toggle="collapse" href="#spotCollapse"
                            aria-expanded="true" aria-controls="spotCollapse">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </button>
                        <button class="btn btn-secondary my-3" onclick="onPlayClick()">
                            <i class="fa fa-play" aria-hidden="true"></i>
                        </button>
                    </h2>
                    <div class="collapse show" id="spotCollapse">
                        <div id="spots" class="overflow-auto container-lg border py-3" style="max-height: 500px;"></div>
                    </div>
                </div>
            </div>

            <div class="row pt-3 pb-5">
                <div class="col">
                    <h3 class="text-center">Scratch Pad
                        <button class="btn btn-secondary m-3" onclick="onScratchPadClearClick()">clear</button>
                    </h3>
                    <div id="scratchpad" class="scratchpad overflow-auto container-lg border py-3"></div>
                </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer mt-auto py-5" style="background-color: #e0e0e0;" aria-hidden="true">
        <div id="footer" class="container pt-2 text-center text-dark">
            <p class="text-center">
                © 2023 Copyright: <a class="text-dark" href="http://krinkl3.net">krinkl3.net</a>
            </p>
            <div class="container pt-3" style="a{text-decoration:none;}">
                <a href="https://github.com/cwhelchel/skimmer_webapp" target="_blank" class="m-1">
                    <i class="fa fa-github fa-2x"></i>
                </a>
                &nbsp;
                <a href="https://www.qrz.com/db/kq4dap" target="_blank" class="m-1">
                    <i class="fa fa-globe fa-2x"></i>
                </a>
                &nbsp;
                <a href="https://instagram.com/cainanwhelchel" target="_blank" class="m-1">
                    <i class="fa fa-instagram fa-2x"></i>
                </a>
            </div>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='main.js') }}"></script>

</body>

</html>